<div>
    @using MyNetCore.Models
    @using MyNetCore.Business
    @model WeChatMiniSettingParam

    <style>
        .canvas-box {
            position: relative;
            -webkit-user-select: none;
            -moz-user-select: none;
            /*-o-user-select: none;*/
            user-select: none;
        }

            .canvas-box .overlay {
                position: absolute;
                left: 0;
                top: 0;
                cursor: move;
                border: 1px solid #69f;
            }

            .canvas-box div, .canvas-box canvas {
                -webkit-user-select: none;
                -moz-user-select: none;
                /*-o-user-select: none;*/
                user-select: none;
            }
    </style>

    @{
        var htmlStr = BusinessHelper.BuildCreateOrEditPage<WeChatMiniSettingParam>(Model);
    }

    @(htmlStr)

</div>