@using MyNetCore.Models
@using MyNetCore.Business
@{
    var htmlStr = BusinessHelper.BuildListPage<ChatRoom>();
}
@htmlStr


<script>
    tableColumn = [
        //{
        //    checkbox: true
        //},
        {
            title: "名称",
            field: "name",
            sortable: true,
            formatter: function (value, row, index) {
                return '<a href="Edit?id=' + row.id + '">' + value + '</a>';
            }
        },
        {
            title: "创建者",
            field: "createdBy",
            sortable: true,
        },
        {
            title: "备注",
            field: "remark",
            sortable: true,
        },
        {
            title: "创建时间",
            field: "createdDate",
            sortable: true,
        },
        {
            title: "更新时间",
            field: "updatedDate",
            sortable: true
        },
        {
            title: "操作",
            field: "name",
            sortable: true,
            formatter: function (value, row, index) {
                return '<a href="Detail?id=' + row.id + '">进入聊天室</a>';
            }
        }
    ];

</script>